h1, h2, h3 {
    font-size: 60px;
    color: #FF1744;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%
}

html, div, body {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
}

ul li {
    padding: 0;
    font-size: 22px;
    font-family: "Happy Monkey", Helvetica, Arial, Verdana, sans-serif;
    width: 100%;
    background: #18FFFF;
    margin-top: 0px;
    padding: 0;
    border-radius: 50px;
    height: 75px;
}

ul li:nth-child(odd) {
    background: #EEFF41;
    margin: 0;
    opacity: 1;
    padding: 0;
    border-radius: 50px;
}

button { 
    border: none;
    font-family: inherit;
    font-size: 15px;
    background: #FFA726;
    cursor: pointer;
    border-radius: 50px;
    padding: 20px 65px;
    letter-spacing: 1.5px;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: #424242;
}

button:hover {
    background-color: #FF5722;
    cursor: pointer;
}

input {
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    border: solid 1px #ffffff;
    background: #4c9cef;
    color: #FFFF00;
    width: 67%;
    font-size: 18px;
    outline: none;
    height: 40px;
    margin: auto;
}

#add {
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-weight: 600;
    background: #80CBC4;
    border: none;
    top: 5px;
    bottom: 5px;
    border-radius: 50px;
    width: 280px;
    text-align: center;
    outline: none;
    height: 60px;
    margin: auto;
    padding: 15px 15px 15px 15px;
}

#add:hover {
    background-color: #76FF03;
    cursor: pointer;
}
